body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #f0f0f0;
    font-family: 'Microsoft Yahei Light',Lantinghei,'Microsoft Yahei',verdana,sans-serif;
}
li{
    list-style-type: none;
}
.containe{
    padding-bottom: 57px;
}

.shopBanner{
    background: #ffffff;
    position: relative;
    padding: 20px 0px;
    text-align: center;
    p{
        text-align: center;
    }
    .msg{
        line-height: 34px;
        font-size: 18px;
    }
    .price{
        display: inline-block;
        margin: 10px 0px;
        font-size: 27px;
        line-height: 40px;
    }
    .pending_price{
        margin: 0px 20px;
        border-top: 1px solid #b5aeab;
        font-size: 17px;
        color: #554f4c;
        display: flex;
        justify-content: center;
        align-items: center;
        .item{
            margin-top: 12px;
            flex: 1;
            border-right: 1px solid #858585;
            p:first-child{
                font-size: 17px;
                line-height: 18px;
                margin-bottom: 6px;
            }
            p:nth-child(2){
                color: #848484;
                font-size: 13px;
                line-height: 14px;
            }
        }
        .item:last-child{
            border-right: none;
        }
    }
    .note{
        color: #554f4c;
        font-size: 13px;
        line-height: 20px;
    }
}

.shopMessageBox{
    background: #ffffff;
    margin-top: 12px;
    .item{
        display: block;
        padding: 10px 18px;
        border-bottom: 1px solid #f9f9f8;
        box-sizing: border-box;
        .weui-flex{
            justify-content: center;
            align-items: center;
        }
        .weui-flex__item:first-child{
            flex: 1;
        }
        .weui-flex__item:nth-child(2){
            flex: 9;
        }
        .logo{
            img{
                height: 24px;
            }
        }
        .msg{
            .list_item{
                height: 18px;
                p{
                    float: left;
                    width: 80%;
                    display: block;
                    font-size: 12px;
                    line-height: 18px;
                    color: #a1a1a1;
                }
                 span{
                    display: block;
                    float: right;
                    font-size: 12px;
                    line-height: 18px;
                    color: #a1a1a1;
                }
            }
        }
    }
}

.shopTool{
    background-color: #ffffff;
    margin-top: 12px;
    .m_weui-flex{
        padding: 10px;
        border-bottom: 1px solid #f9f9f9;
    }
    .m_weui-flex:last-child{
        border-bottom: none;
    }
    .button_a{
        display: block;
        text-align: center;
        img{
            height: 30px;
        }
        p{
            text-align: center;
            color: #333333;
            font-size: 14px;
        }
    }
}

.shopBanner_2{
    background: #5098d3;
    position: relative;
    padding: 20px 0px;
    text-align: center;
    p{
        text-align: center;
        color: #ffffff;
    }
    .msg{
        line-height: 34px;
        font-size: 18px;
    }
    .price{
        display: inline-block;
        margin: 10px 0px;
        font-size: 27px;
        line-height: 40px;
    }
    .pending_price{
        margin: 0px 20px;
        border-top: 1px solid #b9d6ed;
        font-size: 17px;
        color: #554f4c;
        display: flex;
        justify-content: center;
        align-items: center;
        .item{
            margin-top: 12px;
            flex: 1;
            border-right: 1px solid #b9d6ed;
            p:first-child{
                font-size: 17px;
                line-height: 18px;
                margin-bottom: 6px;
            }
            p:nth-child(2){
                color: #d5e3f2;
                font-size: 13px;
                line-height: 14px;
            }
        }
        .item:last-child{
            border-right: none;
        }
    }
    .note{
        color: #554f4c;
        font-size: 13px;
        line-height: 20px;
    }
}

.shopTool_2{
    background: #ffffff;
    margin-top: 12px;
    .item{
        display: block;
        padding: 10px 18px;
        border-bottom: 1px solid #f8f8f8;
        box-sizing: border-box;
        .weui-flex{
            justify-content: center;
            align-items: center;
        }
        .weui-flex__item:first-child{
            flex: 2;
        }
        .weui-flex__item:nth-child(2){
            flex: 12;
        }
        .weui-flex__item:nit-child(3){
            flex: 1;
        }
        .logo{
            img{
                height: 38px;
            }
        }
        .img{
            text-align: right;
            img{
                height: 12px;
            }
        }
        p{
            font-size: 15px;
        }
    }
}

.clickStatus{
    background-color: #ffffff;
    .weui-flex__item{
        text-align: center;
        .button_a{
            line-height: 60px;
            color: #666666;
            font-size: 16px;
        }
        .button_a_on{
            color: #333333;
        }
    }
}

.orderList{
    .order_item{
        background-color: #ffffff;
        margin-top: 12px;
        padding: 14px 0px;
        .order_number{
            margin: 0px 14px;
            color: #666666;
            font-size: 15px;
            .shop_name{
                font-size: 13px;
                float: right;
                color: #a7a6a6;
            }
        }
        .list_item{
            border-bottom: 1px solid #f0f0f0;
            .weui-media-box__hd{
                width: 33.3%;
                height: auto;
                text-align: center;
                img{
                    width: 90%;
                }
            }
            .weui-media-box__title{
                font-size: 15px;
                overflow: initial;
                text-overflow: initial;
                white-space: initial;
            }
        }
        .list_item_not_one{
            .itme{
                overflow: hidden;
                width: 33.3%;
                text-align: center;
                img{
                    width: 90%;
                }
            }
        }
        .product_detail{
            line-height: 30px;
            margin: 0 14px;
            font-size: 16px;
            padding: 8px 0px;
            color: #666666;
            border-bottom: 1px solid #f0f0f0;
            .count{
                color: #e6a9a4;
            }
            .price{
                float: right;
                font-size: 19px;
                color: #e6a9a4;
                span{
                    display: inline-block;
                    line-height: 20px;
                    padding: 2px 5px;
                    font-size: 15px;
                    margin-left: 10px;
                    border: 1px solid #db7a7a;
                    border-radius: 3px;
                }
                .type_1{
                    color: #999999;
                    border: 1px solid #999999;
                }
            }
        }
        .user_info{
            line-height: 30px;
            margin: 0 14px;
            padding: 0;
            font-size: 16px;
            .time{
                font-size: 13px;
                float: right;
                color: #aeacac;
            }
        }
    }
}

.orderStatus,
.orderAdress{
    background-color: #ffffff;
    margin-top: 12px;
    .status{
        margin: 0 14px;
        font-size: 17px;
        padding: 10px 0px;
        border-bottom: 1px solid #f0f0f0;
    }
    .m_weui-flex {
        align-items: center;
        justify-content: center;
        margin: 0 14px;
        .weui-flex__item:first-child{
            flex: 1;
            text-align: center;
            img{
                height: 24px;
            }
        }
        .weui-flex__item:nth-child(2){
            flex: 6;
        }
        .express{
            padding: 14px 0px;
            .tiem{
                font-size: 13px;
                color: #999999;
            }
            .express_msg{
                font-size: 14px;
                color: #3e3c3b;
            }
        }
        .buyer_info{
            padding: 14px 0px;
            .buyer{
                font-size: 14px;
                color: #3e3c3b;
            }
            .adress{
                font-size: 13px;
                color: #999999;
            }
        }
    }
}

.shopInfo{
    background-color: #ffffff;
    margin-top: 12px;
    .call{
        margin: 0 14px;
        font-size: 15px;
        padding: 10px 0px;
        color: #acce87;
    }
    .weui-media-box__title{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .price{
        font-size: 19px;
        color: #e9b1ad;
    }
}

.orderDetail{
    background-color: #ffffff;
    margin-top: 12px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 14px;
        line-height: 24px;
        .right{
            float: right;
            color: #333333;
            font-size: 16px;
        }
    }
}

.orderCost{
    background-color: #ffffff;
    margin-top: 12px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 15px;
        line-height: 24px;
        .right{
            float: right;
            color: #df8c8a;
            font-size: 16px;
        }
    }
}

.orderPay{
    background-color: #ffffff;
    margin-top: 12px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 17px;
        line-height: 24px;
        text-align: right;
        span{
            color: #df8c8a;
        }
    }
}

.orderInvoice{
    background-color: #ffffff;
    margin-top: 12px;
    margin-bottom: 50px;
    padding: 16px 0px;
    a{
        display: block;
        margin: 0 14px;
        span{
            color: #666666;
            font-size: 17px;
            line-height: 20px;
            vertical-align: middle;
        }
        img{
            float: right;
            height: 20px;
            vertical-align: middle;
        }
    }
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 14px;
        line-height: 24px;
        .right{
            float: right;
            color: #333333;
            font-size: 16px;
        }
    }
    p.title{
        padding: 0 14px;
        padding-bottom: 10px;
        margin: 0px;
        margin-bottom: 10px;
        font-size: 17px;
        color: #7a7776;
        border-bottom: 1px solid #efefef;
        .right{
            font-size: 14px;
            color: #3e84c6;
        }
    }
    p.time{
        text-align: right;
        color: #999999;
    }
}

.orderBilling{
    position: fixed;
    bottom: 60px;
    right: 20px;
    a{
        display: block;
        width: 54px;
        height: 54px;
        color: #ffffff;
        font-size: 14px;
        line-height: 54px;
        text-align: center;
        background-color: #db7a7a;
        border-radius: 50%;
    }
    a.type_1{
        background-color: #d7d7d7;
    }
}

.shopCard{
    position: relative;
    background-color: #ffffff;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 50px;
    .logo{
        position: relative;
        .avatar{
            padding-top: 20px;
            text-align: center;
            img{
                width: 90px;
            }
        }
        .name{
            text-align: center;
            line-height: 40px;
            padding: 0px 0px 10px;
            a{
                display: inline-block;
                line-height: 40px;
                img{
                    height: 18px;
                    margin-left: 6px;
                    margin-top: -4px;
                    vertical-align: middle;
                }
            }
        }
        .qrcode{
            position: absolute;
            top: 20px;
            left: 10px;
            text-align: center;
            img{
                width: 35px;
                height: 35px;
            }
            p{
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .rebate{
        div{
            background-color: #f7f7f7;
            height: 36px;
            span{
                font-size: 15px;
                margin-top: 3px;
                color: #333333;
                line-height: 30px;
                display: inline-block;
                width: 48%;
                text-align: center;
            }
            span:first-child{
                border-right: 2px solid #999999;
            }
        }
    }
    .tool{
        position: absolute;
        background-color: #ffffff;
        width: 90%;
        left: 5%;
        bottom: -25px;
        padding: 14px;
        border-radius: 14px;
        box-sizing: border-box;
        box-shadow: 0 0 20px #999;
        .weui-flex{
            align-items: center;
            justify-content: center;
        }
        .button_a{
            display: block;
            text-align: center;
            img{
                height: 28px;
                margin: 4px 0;
            }
            p{
                text-align: center;
                color: #333333;
            }
        }
    }
}

.shopMassage{
    background-color: #ffffff;
    padding: 0 14px;
    .item{
        padding: 10px 0px;
        overflow: hidden;
        display: block;
        border-bottom: 1px solid #cccccc;
        line-height: 24px;
        .right{
            float: right;
            line-height: 24px;
            color: #666666;
            img{
                vertical-align: middle;
                height: 14px;
                margin-left: 10px;
            }
            .logo{
                height: 30px;
            }
        }
    }
}

.paymentsTool{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    a{
        display: block;
        flex: 1;
        font-size: 16px;
        color: #666666;
        text-align: center;
        border-right: 1px solid #d7d7d7;
    }
    a:last-child{
        border-right: none;
    }
}

.paymentsDetail{
    .title{
        padding: 0px 16px;
        color: #666666;
        font-size: 16px;
        line-height: 48px;
    }
    .list{
        background-color: #ffffff;
        .item{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 16px;
            border-bottom: 1px solid #fbfbfb;
            div{
                flex: 1;
                .type{
                    font-size: 16px;
                    text-align: left;
                    color: #333333;
                }
                .time{
                    font-size: 13px;
                    text-align: left;
                    color: #999999;
                }
                .out{
                    font-size: 16px;
                    text-align: right;
                    color: #acce87;
                }
                .in{
                    font-size: 16px;
                    text-align: right;
                    color: #db7a7a;
                }
            }
        }
    }
}

.containe_productList{
    .m_weui-search-bar{
        .weui-search-bar__label {
            text-align: left;
            img {
                margin-left: 10px;
            }
        }
    }
}

.productTool{
    display: flex;
    padding: 10px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #f9f9f8;
    border-top: 1px solid #f9f9f8;
    a{
        display: block;
        flex: 1;
        color: #7a7776;
        text-align: center;
        line-height: 24px;
    }
    a.on{
        color: #db7a7a;
    }
}

.productList{
    .list_item{
        background-color: #ffffff;
        p{
            font-size: 15px;
            line-height: 20px;
        }
        .price{
            color: #db7a7a;
            font-size: 19px;
            line-height: 40px;
        }
        .detail{
            padding: 4px 0px 0px;
            .sign{
                display: inline-block;
                padding: 0px 6px;
                line-height: 20px;
                color: #db7a7a;
                border: 1px solid #db7a7a;
                border-radius: 4px;
            }
            .number{
                color: #999999;
            }
            .good{
                float: right;
                vertical-align: middle;
                img{
                    width: 20px;
                    margin-top: 4px;
                }
            }
            .color,.weight{
                color: #b4b3b3;
            }
            .count{
                float: right;
            }
        }
    }
}

.m_weui-search-bar{
    padding: 10px;
    background-color: #ffffff;
    .weui-search-bar__form {
        background-color: #f0f0f0;
        border-radius: 32px;
    }
    .weui-search-bar__box{
        height: 32px;
        border-radius: 32px;
        img{
            position: absolute;
            left: 10px;
            top: 7px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
        }
        .weui-search-bar__input{
            width: 90%;
            line-height: 24px;
            height: 24px;
        }
    }
    .weui-search-bar__label {
        height: 32px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        color: #9b9b9b;
        background: #f0f0f0;
        border-radius: 26px;
        img{
            height: 17px;
            vertical-align: middle;
        }
        span{
            color: #d7d7d7;
            line-height: 32px;
        }
    }
    .weui-search-bar__form:after {
        border: 0px solid #e6e6ea;
        background: #f0f0f0;
        border-radius: 32px;
    }
}
.m_weui-search-bar:after,
.m_weui-search-bar:before {
    border-top: 0px solid #d7d6dc;
    border-bottom: 0px solid #d7d6dc;
}

.m_weui-tabbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    .weui-tabbar__item.weui-bar__item--on{
        .weui-tabbar__label{
            color: #e59692;
        }
    }
}

.m_weui-media-box{
    .weui-media-box__hd{
        width: 120px;
        height: 120px;
    }
    .weui-media-box__title{
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        white-space: normal;
    }
}

.m_button{
    background-color: #e57e7e;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 14px;
}

.m_button_type_1{
    background-color: #ffffff;
    border: 2px solid #e57e7e;
    color: #e57e7e;
}

.m_button_type_2{
    background-color: #ffffff;
    border: 2px solid #d7d7d7;
    color: #666666;
}