body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
    background-color: #f0f0f0;
    font-family: 'Microsoft Yahei Light',Lantinghei,'Microsoft Yahei',verdana,sans-serif;
}
li{
    list-style-type: none;
}
.containe{
    padding-bottom: 57px;
}

.banner,
.sub_banner{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    img{
        width: 100%;
        max-height: 188px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 145px;
        max-width: 100%;
        margin: 0 auto
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
    }
}

.searchBox{
    background-color: #ffffff;
    overflow: hidden;
    padding: 10px 0px 0px 20px;
    .shop_title{
        display: block;
        background-color: #ffffff;
        width: 55%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .shop_logo{
            height: 40px;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            img{
                height: 100%;
            }
        }
        p.shop_name{
            width: auto;
            display: inline-block;
            font-size: 15px;
            color: #555555;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .m_weui-search-bar{
        border-radius: 28px;
        .weui-search-bar__box {
            height: 28px;
            border-radius: 32px;
        }
        .weui-search-bar__label {
            text-align: right;
            height: 28px;
            img{
                margin-right: 10px;
            }
        }
    }
}

.buttonGroup{
    padding: 6px 0;
    background-color: #ffffff;
    .weui-flex{
        .button_a{
            display: block;
            margin: 10px auto;
            width:56px;
            font-size: 16px;
            line-height: 56px;
            color: #ffffff;
            text-align: center;
            border-radius: 40%;
            box-sizing: content-box;
        }
    }
    .weui-flex:first-child{
        .button_a{
            background: #ed9a96;
        }
    }
    .weui-flex:nth-child(2){
        .button_a{
            background: #f3cbac;
        }
    }
}

.specialCommodity{
    background-color: #ffffff;
    margin-top: 16px;
    .weui-flex__item{
        .container{
            .title{
                font-size: 16px;
                padding: 10px 0px;
                color: #e57e7e;
                img{
                    height: 24px;
                    vertical-align: middle;
                    padding-left: 12px;
                }
            }
            .content{
                text-align: center;
                height: 98px;
                .img{
                    width: 100%;
                    height: 80px;
                    img{
                        height: 100%;
                    }
                }
                .price_time{
                    margin-left: -30px;
                }
                .now_price{
                    font-size: 15px;
                    line-height: 20px;
                    color: #e33a37;
                    text-align: center;
                }
                .old_price{
                    margin-bottom: 20px;
                    color: #cfd0d0;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;
                    text-decoration-line: line-through;
                }
                .count_down{
                    text-align: center;
                    p{
                        color: #323333;
                        font-size: 12px;
                        line-height: 18px;
                    }
                    span{
                        color: #ffffff;
                        padding: 0 6px;
                        display: inline-block;
                        background-color: #323333;
                        border-radius: 2px;
                    }
                }
            }
            .content_1{
                .weui-flex{
                    align-items: center;
                    justify-content: center;
                }
            }
            .content_2{
                .img{
                    width: 100%;
                    height: 40px;
                    margin-bottom: 10px;
                    img{
                        height: 100%;
                    }
                }
            }
            .button_box{
                text-align: center;
                .m_button{
                    width: 60%;
                    font-size: 14px;
                    line-height: 28px;
                }
            }
        }
    }
    .weui-flex__item:nth-child(2){
        .container{
            .content{
                text-align: center;
                .img{
                    width: 100%;
                    img{
                        height: 40px;
                    }
                }
            }
        }
    }
}

.commodity_item{
    display: block;
    width: 100%;
    .comm_name{
        font-size: 16px;
        color: #323333;
    }
    .comm_model{
        font-size: 14px;
        color: #999999;
    }
    .comm_img{
        width: 100%;
        text-align: center;
        img{
            max-width: 90%;
            height: 108px;
        }
    }
}
.commodity_item.type_1{
    .comm_name,.comm_model{
        text-align: center;
    }
}
.commodity_item.type_2{
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    .comm_name{
        font-size: 15px;
        line-height: 20px;
    }
    .comm_model{
        font-size: 13px;
        line-height: 16px;
    }
    .comm_img{
        width: 100%;
        text-align: left;
        img{
            max-width: 80%;
            height: 46px;
        }
    }
}
.commodity_item.type_3{
    padding-top: 10px;
    .weui-flex__item:first-child{
        flex: 2;
    }
    .weui-flex__item:nth-child(2){
        flex: 3;
    }
    .comm_name{
        font-size: 15px;
        line-height: 20px;
    }
    .comm_model{
        font-size: 13px;
        line-height: 16px;
    }
    .comm_img{
        width: 100%;
        text-align: left;
        img{
            max-width: 90%;
            height: 58px;
        }
    }
}

.hotCommodity{
    .title{
        font-size: 18px;
        line-height: 50px;
        text-align: center;
    }
    .content{
        padding: 6px 0px;
        width: 100%;
        background-color: #ffffff;
        .weui-flex{
            align-items: center;
            justify-content: center;
        }
        .m_weui-flex_1{
            border-bottom: 1px solid #f7f8f8;
        }
    }
}

.newCommodity{
    .title{
        font-size: 18px;
        line-height: 50px;
        text-align: center;
    }
    .content{
        width: 100%;
        background-color: #ffffff;
        .weui-flex{
            align-items: center;
            justify-content: center;
            .weui-flex__item:first-child,
            .weui-flex__item:last-child{
                flex: 3;
            }
            .weui-flex__item:nth-child(2){
                flex: 5;
            }
        }
    }
}

.foodSeafood{
    .title{
        font-size: 18px;
        line-height: 50px;
        text-align: center;
    }
    .content{
        width: 100%;
        background-color: #ffffff;
        .weui-flex{
            align-items: center;
            justify-content: center;
        }
        .item{
            text-align: center;
            display: block;
            p {
                margin-top: 10px;
                color: #000000;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
            }
            img{
                display: inline-block;
                width: 76%;
            }
        }
    }
}

.domesticAppliance{
    .title{
        font-size: 18px;
        line-height: 50px;
        text-align: center;
    }
    .content{
        width: 100%;
        background-color: #ffffff;
        .commodity_item.type_2{
            display: block;
            margin-top: 10px;
            padding: 0px 6px;
            box-sizing: border-box;
            .comm_img{
                text-align: center;
                img{
                    max-width: 100%;
                    width: 100%;
                }
            }
        }

    }
}

.containe_categories{
    .m_weui-search-bar{
        .weui-search-bar__label {
            text-align: left;
            img{
                margin-left: 10px;
            }
            span{
                color: #dbdbdc;
            }
        }
    }
}

.categories{
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    z-index: 510;
    div.first_category{
        width: 25%;
        float: left;
        height: 100%;
        margin-top: 2%;
        background-color: #ffffff;
        overflow-y: auto;
        ul{
            li{
                border-bottom: 2px solid #ebebeb;
                a{
                    display: block;
                    font-size: 18px;
                    color: #323333;
                    text-align: center;
                    height: 54px;
                    line-height: 54px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-sizing: content-box;
                }
                .choosed{
                    background-color: #f0f0f0;
                }
            }
        }
    }
    div.second_category{
        display: none;
        margin-top: 2%;
        width: auto;
        height: 100%;
        margin-left: 26%;
        overflow: hidden;
        overflow-y: scroll;
        .first_logo{
            width: 96%;
            margin-left: 2%;
            margin-bottom: 2%;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 110px;
                display: block;
            }
        }
        .header_height{
            background-color: #ebebeb;
        }
        .title{
            margin-left: 2%;
            line-height: 40px;
            font-size: 18px;
        }
        .groups{
            overflow: hidden;
            background-color: #ffffff;
            width: 96%;
            margin-left: 2%;
        }
        .item_group{
            width: 30%;
            float: left;
            margin-left: 2%;
            margin-bottom: 2%;
            background-color: #ffffff;
            .show_img{
                width: 100%;
                padding-top: 10%;
                overflow: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                img{
                    max-width: 90%;
                }
            }
            p{
                margin: 0;
                font-size: 14px;
                color: #7d7d7d;
                text-align: center;
                padding: 10px 4px 8px 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    div.second_category.choosed{
        display: block;
    }
}

.topBar{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    .top_menu {
        width: 50px;
        float: left;
        .menu_button.black {
            padding: 16px 15px;
            img {
                height: 20px;
                display: block;
            }
        }
    }
    .m_weui-search-bar{
        .weui-search-bar__box{

        }
        .weui-search-bar__label{
            text-align: left;
            img{
                margin-left: 10px;
            }
        }
    }
}

.userInfo{
    background-color: #ffffff;
    padding: 10px 0;
    .container{
        padding: 0px 40px;
    }
    .msg{
        line-height: 30px;
        font-size: 16px;
        margin-bottom: 10px;
        .right{
            float: right;
        }
        .default{
            font-size: 13px;
            line-height: 20px;
            display: inline-block;
            padding: 0px 10px;
            color: #ffffff;
            background-color: #ed9a97;
            border-radius: 2px;
        }
    }
    .address{
        font-size: 15px;
        position: relative;
        .local{
            display: block;
            position: absolute;
            height: 20px;
            left: -16px;
            top: 2px;
        }
        .arrow{
            display: block;
            position: absolute;
            height: 20px;
            right: -20px;
            top: 0px;
        }

    }
    .border {
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.productList{
    .list_item{
        background-color: #ffffff;
        p{
            font-size: 15px;
            line-height: 20px;
        }
        .price{
            color: #db7a7a;
            font-size: 19px;
            line-height: 40px;
        }
        .detail{
            padding: 4px 0px 0px;
            .sign{
                display: inline-block;
                padding: 0px 6px;
                line-height: 20px;
                color: #db7a7a;
                border: 1px solid #db7a7a;
                border-radius: 4px;
            }
            .number{
                color: #999999;
            }
            .good{
                float: right;
                vertical-align: middle;
                img{
                    width: 20px;
                    margin-top: 4px;
                }
            }
            .color,.weight{
                color: #b4b3b3;
            }
            .count{
                float: right;
            }
        }
    }
}

.comment{
    background-color: #ffffff;
    margin-top: 16px;
    .title{
        line-height: 50px;
        text-indent: 20px;
    }
    .inputBox{
        text-align: center;
        textarea{
            width: 90%;
            border: 1px solid #d7d7d7;
            line-height: 20px;
            text-indent: 20px;
        }
    }
}

.productTotal{
    margin-top: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    p{
        line-height: 30px;
        font-size: 16px;
        .msg{
            color: #a09f9f;
        }
        .right{
            float: right;
            color: #db7a7a;
        }
    }
}

#footerBox {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    .settlement {
        margin-left: 10px;
        float: right;
        background-color: #db7a7a;
        height: 56px;
        width: 104px;
        p {
            text-align: center;
            color: #fff;
            font-size: 16px;
            text-indent: 0px;
        }
    }
    p {
        margin: 0px;
        text-align: left;
        text-indent: 24px;
        font-size: 20px;
        height: 56px;
        line-height: 56px;
        color: #db7a7a;
    }
    a{
        width: 40%;
        margin-left: 5%;
        line-height: 40px;
        font-size: 18px;
    }
    a:nth-child{
        float: right;
        margin-left: 0%;
        margin-right: 5%;
    }
}

.successBanner{
    background-color: #ffffff;
    padding: 20px;
    .img{
        text-align: center;
        img{
            height: 200px;
        }
    }
    .msg{
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
    }
    .note{
        color: #999999;
        font-size: 14px;
    }
}

.payTotal{
    margin-top: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    p{
        line-height: 30px;
        font-size: 16px;
        color: #666666;
        .msg{
            color: #a09f9f;
        }
        .right{
            float: right;
            color: #db7a7a;
        }
    }
    .button_group{
        a{
            width: 40%;
            margin-left: 5%;
            font-size: 18px;
            line-height: 40px;
        }
        a:nth-child{
            float: right;
            margin-left: 0%;
            margin-right: 5%;
        }
    }
}

.store_button{
    margin-top: 16px;
    background-color: #ffffff;
    padding: 10px 20px;
    .name{
        font-size: 16px;
        padding: 4px 0px;
        line-height: 30px;
        img{
            height: 30px;
            padding: 0px 4px;
            vertical-align: middle;
        }
    }
    .button_group{
        a{
            width: 40%;
            margin-left: 5%;
            font-size: 18px;
            line-height: 40px;
        }
        a:nth-child{
            float: right;
            margin-left: 0%;
            margin-right: 5%;
        }
    }
}

.clickStatus{
    background-color: #ffffff;
    .weui-flex__item{
        text-align: center;
        a{
            line-height: 60px;
            color: #666666;
            font-size: 16px;
        }
    }
}

.orderList{
    .order_item{
        background-color: #ffffff;
        margin-top: 12px;
        padding: 14px 0px;
        .order_number{
            margin: 0px 14px;
            color: #666666;
            font-size: 15px;
            .shop_name{
                font-size: 13px;
                float: right;
                color: #a7a6a6;
            }
        }
        .m_weui-media-box{
            border-bottom: 1px solid #f0f0f0;
            .weui-media-box__title{
                font-size: 15px;
            }
        }
        .product_detail{
            line-height: 30px;
            margin: 0 14px;
            font-size: 16px;
            padding: 8px 0px;
            color: #666666;
            border-bottom: 1px solid #f0f0f0;
            .count{
                color: #e6a9a4;
            }
            .price{
                float: right;
                font-size: 19px;
                color: #e6a9a4;
                span{
                    display: inline-block;
                    line-height: 20px;
                    padding: 2px 5px;
                    font-size: 15px;
                    margin-left: 10px;
                    border: 1px solid #db7a7a;
                    border-radius: 3px;
                }
            }
        }
        .user_info{
            line-height: 30px;
            margin: 0 14px;
            padding: 0;
            font-size: 16px;
            .time{
                font-size: 13px;
                float: right;
                color: #aeacac;
            }
        }
    }
}

.orderStatus,
.orderAdress{
    background-color: #ffffff;
    margin-top: 16px;
    .status{
        margin: 0 14px;
        font-size: 17px;
        padding: 10px 0px;
        border-bottom: 1px solid #f0f0f0;
    }
    .m_weui-flex {
        align-items: center;
        justify-content: center;
        margin: 0 14px;
        .weui-flex__item:first-child{
            flex: 1;
            text-align: center;
            img{
                height: 24px;
            }
        }
        .weui-flex__item:nth-child(2){
            flex: 6;
        }
        .express{
            padding: 14px 0px;
            .tiem{
                font-size: 13px;
                color: #999999;
            }
            .express_msg{
                font-size: 14px;
                color: #3e3c3b;
            }
        }
        .buyer_info{
            padding: 14px 0px;
            .buyer{
                font-size: 14px;
                color: #3e3c3b;
            }
            .adress{
                font-size: 13px;
                color: #999999;
            }
        }
    }
}

.shopInfo{
    background-color: #ffffff;
    margin-top: 16px;
    .name{
        margin: 0 14px;
        font-size: 15px;
        padding: 10px 0px;
        .call{
            font-size: 13px;
            float: right;
            color: #acce87;
        }
    }
    .weui-media-box__title{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .price{
        font-size: 19px;
        color: #e9b1ad;
    }
}

.orderDetail{
    background-color: #ffffff;
    margin-top: 16px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 14px;
        line-height: 24px;
        .right{
            float: right;
            color: #333333;
            font-size: 16px;
        }
    }
}

.orderCost{
    background-color: #ffffff;
    margin-top: 16px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 15px;
        line-height: 24px;
        .right{
            float: right;
            color: #df8c8a;
            font-size: 16px;
        }
    }
}

.orderPay{
    background-color: #ffffff;
    margin-top: 16px;
    padding: 20px 0px;
    p{
        margin: 0 14px;
        color: #999999;
        font-size: 15px;
        line-height: 24px;
        text-align: right;
        span{
            color: #df8c8a;
        }
    }
}

.userCard{
    position: relative;
    background-color: #f3cbac;
    height: 225px;
    box-sizing: border-box;
    .user_info{
        padding: 20px;
        .weui-flex{
            align-items: center;
            justify-content: center;
            .weui-flex__item:first-child,
            .weui-flex__item:last-child{
                flex: 1;
            }
            .weui-flex__item:nth-child(2){
                flex: 3;
            }
        }
        .avatar{
            text-align: center;
            img{
                width: 50px;
            }
        }
        .info{
            .name{
                color: #ffffff;
                font-size: 15px;
            }
            .msg{
                color: #ffffff;
                font-size: 13px;
                margin-bottom: 2px;
            }
            .m_weui-progress{
                width: 80%;
            }
            .weui-progress__bar{
                height: 6px;
                border-radius: 10px;
                background-color: #f8e5d7;
            }
            .weui-progress__inner-bar{
                background-color: #ffffff;
                border-radius: 10px;
            }
        }
        .qrcode{
            text-align: center;
            color: #ffffff;
            img{
                width: 40px;
            }
            p{
                font-size: 12px;
                white-space: nowrap;
            }
        }
    }
    .rebate{
        div{
            background-color: #f4d0b5;
            height: 36px;
            span{
                font-size: 15px;
                margin-top: 3px;
                line-height: 30px;
                display: inline-block;
                color: #ffffff;
                width: 48%;
                text-align: center;
            }
            span:first-child{
                border-right: 2px solid #ffffff;
            }
        }
    }
    .status{
        position: absolute;
        background-color: #ffffff;
        width: 90%;
        left: 5%;
        bottom: -25px;
        padding: 14px;
        border-radius: 14px;
        box-sizing: border-box;
        .weui-flex{
            align-items: center;
            justify-content: center;
        }
        .button_a{
            display: block;
            text-align: center;
            img{
                height: 28px;
                margin: 4px 0;
            }
            p{
                text-align: center;
                color: #333333;
            }
        }
    }
}

.userTool{
    background-color: #ffffff;
    margin-top: 46px;
    padding: 10px;
    .button_a{
        display: block;
        text-align: center;
        img{
            height: 40px;
            margin: 4px 0;
        }
        p{
            text-align: center;
            color: #333333;
        }
    }
}

.formBox{
    background-color: #ffffff;
    margin-top: 16px;
    form{
        /*padding: 0px 20px;*/
    }
    ul{
        li{
            margin: 0px 20px;
            border-bottom: 1px solid #d7d7d7;
            span{
                display: inline-block;
                width: 30%;
                line-height: 48px;
                font-size: 17px;
            }
            input{
                width: 60%;
                font-size: 15px;
                line-height: 36px;
                border: none;
            }
        }
        li:last-child{
            border-bottom: 0px solid #d7d7d7;
        }
        .type_1{
            input{
                width: 30%;
            }
            a{
                float: right;
                margin-top: 6px;
                border: 1px solid #e57e7e;
            }
        }
    }
    .submit{
        background-color: #f0f0f0;
        padding: 40px 0px;
        text-align: center;
        .m_button{
            width: 60%;
            font-size: 20px;
            line-height: 44px;
        }
    }
}

.productBanner{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    img{
        width: 100%;
        height: 250px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 145px;
        max-width: 100%;
        margin: 0 auto
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-align: center;
    }
}

.productInfo{
    background-color: #ffffff;
    .contanier{
        padding: 18px;
        .name{
            font-size: 16px;
            line-height: 26px;
        }
        .price{
            font-size: 16px;
            line-height: 30px;
            .new_price{
                font-size: 20px;
                color: #e57e7e;
            }
            .sign{
                vertical-align: middle;
                display: inline-block;
                padding: 0px 2px;
                font-size: 12px;
                line-height: 20px;
                margin: 0 10px;
                margin-top: -4px;
                color: #ffffff;
                background-color: #e57e7e;
            }
            .old_price{
                font-size: 13px;
                color: #666666;
                text-decoration: line-through;
            }
        }
        .msg{
            font-size: 13px;
            line-height: 26px;
            .sub_msg{
                display: block;
                float: right;
                font-size: 13px;
                line-height: 20px;
                margin-top: -6px;
                color: #e57e7e;
                border: 1px solid #e57e7e;
                padding: 0px 4px;
                border-radius: 20px;
            }
        }
    }
    .button_group{
        width: 100%;
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        height: 70px;
        a{
            width: 40%;
            margin-left: 5%;
            font-size: 18px;
            line-height: 40px;
        }
        a:nth-child{
            float: right;
            margin-left: 0%;
            margin-right: 5%;
        }
    }
}

.productDetail{
    .title{
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        background-color: #fefefe;
    }
    .img_group{
        img{
            width: 100%;
            display: block;
        }
    }
}

.shareBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    .bg{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;
    }
    .share_content{
        width: 90%;
        height: 80%;
        padding: 20px 0px;
        border-radius: 20px;
        background: url("../img/p_banner.jpg") no-repeat;
        background-color: #ffffff;
        overflow: auto;
        p{
            text-align: center;
        }
        .note{
            font-size: 19px;
            color: #ffffff;
        }
        .qrcode{
            margin-top: 60px;
            margin-bottom: 30px;
            text-align: center;
            img{
                height: 160px;
            }
        }
        .qr_msg{
            font-size: 17px;
        }
        .price{
            margin: 10px auto;
            display: block;
            width: 100px;
            font-size: 19px;
            line-height: 35px;
            color: #ffffff;
            background: #f7c1a5;
        }
        .msg_title{
            font-size: 17px;
            line-height: 30px;
        }
    }
    .close{
        position: absolute;
        right: 2%;
        top: 4%;
        width: 40px;
        img{
            display: block;
            width: 100%;
        }
    }
}

.headerBox{
    height: 56px;
    background: #ffffff;
    p{
        text-align: center;
        line-height: 56px;
        font-size: 18px;
        font-weight: 700;
    }
}

.shopOperate{
    background-color: #ffffff;
    margin-top: 12px;
    .name{
        margin: 0 14px;
        font-size: 17px;
        padding: 10px 0px;
        border-bottom: 1px solid #f7f8f8;
    }
    .m_weui-media-box{
        .weui-media-box__hd{
            width: 160px;
        }
        .weui-flex{
            justify-content: center;
            align-items: center;
            .weui-flex__item:first-child{
                flex: 1;
            }
            .weui-flex__item:nth-child(2){
                flex: 4;
            }
            img{
                height: 120px;
                width: 120px;
            }
        }
    }
    .note{
        margin: 0 14px;
        font-size: 15px;
        line-height: 45px;
        color: #666666;
        .sign{
            font-size: 13px;
            color: #db7a7a;
            border: 1px solid #db7a7a;
            margin-right: 10px;
        }
        img{
            display: block;
            height: 20px;
            float: right;
            margin-top: 13px;
        }
    }
    .content{
        .msg{
            font-size: 15px;
            line-height: 20px;
        }
        .weight{
            margin-top: 30px;
            font-size: 13px;
            line-height: 20px;
            color: #999999;
        }
        .operate{
            .price{
                display: inline-block;
                line-height: 24px;
                color: #db7a7a;
                font-size: 19px;
            }
            .container{
                display: inline-block;
                float: right;
                span{
                    display: inline-block;
                    line-height: 22px;
                    padding: 0 8px;
                    border: 1px solid #dfdfdf;
                    margin-left: -5px;
                    font-size: 13px;
                    vertical-align: middle;
                }
                .count{
                    border-right: none;
                    border-left: none;
                    padding: 0 10px;
                    font-size: 13px;
                }
            }
        }
    }
}

.settlementBox{
    position: fixed;
    bottom: 54px;
    width: 100%;
    left: 0px;
    background: #ffffff;
    .settlement{
        margin-left: 10px;
        float: right;
        background-color: #db7a7a;
        height: 44px;
        width: 134px;
        color: #ffffff;
        line-height: 44px;
        text-align: center;
    }
    .total{
        height: 44px;
        vertical-align: middle;
        .m_weui-cells_checkbox{
            display: inline-block;
            line-height: 44px;
            float: left;
            .weui-cell__bd{
                color: #666666;
                font-size: 15px;
            }
        }
        p{
            font-size: 17px;
            line-height: 44px;
            float: left;
            display: inline-block;
        }
    }
}

.payAmount{
    background: #ffffff;
    padding: 10px 18px;
    p{
        font-size: 18px;
        line-height: 34px;
        span{
            float: right;
            color: #e49f9b;
        }
    }
}

.paymentChannel{
    background: #ffffff;
    margin-top: 12px;
    .item{
        display: block;
        padding: 10px 18px;
        border-bottom: 1px solid #f9f9f8;
        box-sizing: border-box;
        .weui-flex{
            justify-content: center;
            align-items: center;
        }
        .weui-flex__item:first-child{
            flex: 2;
        }
        .weui-flex__item:nth-child(2){
            flex: 12;
        }
        .weui-flex__item:nit-child(3){
            flex: 1;
        }
        .logo{
            img{
                height: 38px;
            }
        }
        .img{
            text-align: right;
            img{
                height: 12px;
            }
        }
        .note{
            p{
                font-size: 15px;
                .msg{
                    font-size: 13px;
                    color: #999999;
                }
            }
        }
    }
    .item_none{
        .note{
            position: relative;
            p{
                font-size: 15px;
                color: #999999;
            }
            .sign{
                position: absolute;
                right: -10px;
                top: 14px;
                font-size: 13px;
                line-height: 20px;
                color: #999999;
            }
        }
    }
}

.walletBanner{
    background: #ffffff;
    position: relative;
    padding: 20px 0px;
    text-align: center;
    p{
        text-align: center;
    }
    .msg{
        line-height: 34px;
        font-size: 18px;
    }
    .price{
        display: inline-block;
        margin: 10px 0px;
        font-size: 27px;
        line-height: 40px;
        padding: 6px 30px;
        border-bottom: 1px solid #b5aeab;
    }
    .pending_price{
        font-size: 17px;
        color: #554f4c;
    }
    .note{
        color: #554f4c;
        font-size: 13px;
        line-height: 20px;
    }
    .sign{
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: #aac2e5;
        font-size: 13px;
        line-height: 24px;
        padding: 0px 10px;
        color: #ffffff;
        border-radius: 12px;
    }
}

.walletHistory{
    background: #ffffff;
    margin-top: 12px;
    a{
        padding: 0 18px;
        display: block;
        border-bottom: 1px solid #cecfcf;
        p{
            color: #323333;
            line-height: 46px;
            img{
                float: right;
                height: 12px;
                margin-top: 17px;
            }
        }
    }
    a:last-child{
        border-bottom: none;
    }
}

.walletAccount{
    .title{
        padding: 0px 18px;
        color: #666666;
        line-height: 50px;
    }
    .item{
        background-color: #ffffff;
        display: block;
        padding: 0px 18px;
        p{
            vertical-align: middle;
            color: #333333;
            line-height: 46px;
            .logo{
                height: 30px;
                vertical-align: middle;
                margin-right: 8px;
            }
            .arrow{
                float: right;
                height: 12px;
                margin-top: 17px;
            }
        }
    }
}

.runningRecord{
    background: #ffffff;
    .item{
        padding: 12px 18px;
        position: relative;
        border-bottom: 1px solid #f9f9f8;
        .type{
            font-size: 16px;
            color: #333333;
        }
        .time{
            font-size: 13px;
            color: #999999;
        }
        .price{
            position: absolute;
            top: 21px;
            font-size: 16px;
            line-height: 16px;
            right: 20px;
        }
        .price.subtract{
            color: #acce87;
        }
        .price.add{
            color: #db7a7a;
        }
    }
}

.withdrawalsOperation{
    margin-top: 12px;
    .container{
        background-color: #ffffff;
        padding: 0px 18px;
        .bank{
            font-size: 17px;
            line-height: 64px;
            border-bottom: 1px solid #f9f9f8;
            img{
                height: 30px;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
        .input{
            margin: 17px 0px;
            display: inline-block;
            line-height: 35px;
            font-size: 30px;
            border-bottom: 1px solid #f0f0f0;
            input{
                border: none;
                font-size: 17px;
                line-height: 35px;
            }
        }
    }
    .button{
        text-align: center;
        margin-top: 40px;
        .m_button{
            width: 70%;
            font-size: 19px;
            line-height: 44px;
        }
    }
}

.addressBox{
    .item{
        padding: 10px 30px;
        margin-top: 12px;
        background-color: #ffffff;
        .name{
            color: #333333;
            font-size: 16px;
            line-height: 30px;
            .tel{
                margin-left: 40px;
            }
            .modify{
                font-size: 16px;
                color: #acce87;
                float: right;
            }
        }
        .address{
            font-size: 15px;
            line-height: 24px;
            padding: 2px 0px 12px;
            border-bottom: 1px solid #f0f0f0;
        }
        .m_weui-cells_checkbox{
            padding: 10px 0px;
            .weui-check:checked+.weui-icon-checked:before{
                color: #acce87;
            }
            .weui-cell__bd{
                p{
                    color: #666666;
                    font-size: 17px;
                }
            }
        }
    }
}

.m_weui-search-bar{
    padding: 10px;
    background-color: #ffffff;
    .weui-search-bar__form {
        background-color: #f0f0f0;
        border-radius: 32px;
    }
    .weui-search-bar__box{
        height: 32px;
        border-radius: 32px;
        img{
            position: absolute;
            left: 10px;
            top: 7px;
            height: 17px;
            display: inline-block;
            vertical-align: middle;
        }
        .weui-search-bar__input{
            width: 90%;
            line-height: 24px;
            height: 24px;
        }
    }
    .weui-search-bar__label {
        height: 32px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        color: #9b9b9b;
        background: #f0f0f0;
        border-radius: 26px;
        img{
            height: 17px;
            vertical-align: middle;
        }
        span{
            color: #d7d7d7;
            line-height: 32px;
        }
    }
    .weui-search-bar__form:after {
        border: 0px solid #e6e6ea;
        background: #f0f0f0;
        border-radius: 32px;
    }
}
.m_weui-search-bar:after,
.m_weui-search-bar:before {
    border-top: 0px solid #d7d6dc;
    border-bottom: 0px solid #d7d6dc;
}

.m_weui-cells_checkbox{
    margin: 0px;
    padding: 0px;
    .weui-cell{
        padding: 0;
    }
}
.m_weui-cells_checkbox:before,
.m_weui-cells_checkbox:after{
    height: 0px;
    border-top: 0px solid #d9d9d9;
    border-bottom: 0px solid #d9d9d9;
}


.m_weui-tabbar{
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #ffffff;
    .weui-tabbar__item.weui-bar__item--on{
        .weui-tabbar__label{
            color: #e59692;
        }
    }
}

.m_weui-media-box{
    .weui-media-box__hd{
        width: 120px;
        height: 120px;
    }
    .weui-media-box__title{
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        white-space: normal;
    }
}

.m_button{
    background-color: #e57e7e;
    border-radius: 30px;
    padding: 0 10px;
    font-size: 14px;
}

.m_button_type_1{
    background-color: #ffffff;
    border: 2px solid #e57e7e;
    color: #e57e7e;
}

.m_button_type_2{
    background-color: #ffffff;
    border: 2px solid #d7d7d7;
    color: #666666;
}